    /*CONFIGURACIÓ GENERAL*/
* {
    font-family: Andale Mono,AndaleMono,monospace; 
    text-decoration: none;
    list-style: none;
    scroll-behavior:smooth;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



nav {
    font-size: 1.3rem;
    
}

.navlinks {
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#imagenlogo {
    height: 5rem;
    width: 5rem;
}

header {

}

footer {

}

