* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;

   
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;

    letter-spacing: 2px;
    line-height: 2.5em;
    word-spacing: 3px;
}

.about-us {
    max-width: 50em;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
}

.decorative-image {
    width: 5em;
    height: 5em;
    max-width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.about-us h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
    color: #555;
}

.about-us p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #666;
}

.about-us ul {
    list-style: none;
    padding: 0;
}

.about-us ul li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #666;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }

    .about-us {
        padding: 1rem;
    }

    .about-us h1 {
        font-size: 2rem;
    }

    .about-us h2 {
        font-size: 1.5rem;
    }

    .about-us p, .about-us ul li {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .about-us h1 {
        font-size: 1.5rem;
    }

    .about-us h2 {
        font-size: 1.2rem;
    }

    .about-us p, .about-us ul li {
        font-size: 0.9rem;
    }
}